
*{margin:0;
padding: 0;
font-family: arial;
text-align: justify;
}

body{background-image: url(imagenes/hola1.jpg)
  ;background-position: center;background-repeat: no-repeat
; background-size: cover;background-attachment: fixed;}

h1{font-size:500%;
  text-align: center;
  font-family: arial;
padding: 10px;
font-family:serif;}

h1{background-image: url(imagenes/bandera-argentina-5-645x400.gif)
    ;background-repeat:repeat-x;
  background-size:contain;}

  h2 {font-size: 40px;
    font-family: arial;
  text-align: center;
font-weight: lighter;}



.img1{float: right;}

.img2{height: 300px;
width: 500px;text-align: center;margin-left: auto;margin-right: auto;}

.img3{float: left;}


h3{font-size: 55px;
  font-family:serif;
background-image: url(imagenes/pampa.jpg);
background-size: contain;
text-align: center;}

p {text-indent: 100px;font-size: 30px;}


h4 {font-size: 50px;
  background-image: url(imagenes/pampa.jpg);
  background-size: contain;}

.conteineraudio{text-align: center;}

.continermapa{text-align: center;}

h6{font-size: 40px;text-decoration: underline;color:red}
ul{font-size: 30px}

ol{list-style-position: inside;font-size: 30px}

#ultimo{font-size: 30px;font-weight: bold}

.containervideo{text-align: center}
